:root {
  --blancClar:  #ebebeb;
  --gris: #a0a0a0;
  --negrot: #141414;

  --cacaClara: #f0e68c;
  --or: #ffd700;
  --taronjaOscur: #ff8c00;

  --rosaClar: #f2a0e1;
  --rosaFucsia: #f93bd2;
  --lila: #8402a5;
  --rosaChilero: #c61ec3aa;

  --turquesa: #24ffda;
  --verdeMentaClaro: #bbf7e4;
  --verdeMentaClaro30: rgba(187, 247, 228,0.3);
  --verdEsmeralda: #12b481;
  --verdEsmeralda30: rgba(18, 180, 129,0.3);
  --verdPiOscuro: #0b6347;
  --verdMesOscur: #07231b;
}

body {
  background-color: var(--verdPiOscuro);
  width: 100%;
  height: 100%;
  margin: 0%;
  font-family: DragonHunter;
}

html{
  scroll-behavior: smooth;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1 / 2 / 4;
  width: 100%;
  color: var(--verdeMentaClaro);
  background-color: var(--verdEsmeralda);
  padding-top: 3rem;
  padding-bottom: 2rem;
}

h1{
  font-family: "DragonHunter";
  margin: 0;
  font-size: 5.5rem;
}

.body nav{
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.body nav ol{
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.body nav ol li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.2rem;
  flex-grow: 1;
  transition: flex-grow 1s;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

nav li a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}

.body nav ol .active{
  border: var(--verdeMentaClaro) solid 6px;
  background-color: var(--verdEsmeralda);
  text-decoration: none;
}

.body nav ol li:hover{
  background-color: var(--verdeMentaClaro);
  flex-grow: 1.4;
}

.body nav ol p{
  padding: 0;
  margin: 0.3rem;
  color: black;
  text-decoration: none;
}

.body nav ol img{
  fill: #000;
  width: 2rem;
}

.grid {
  display: grid;
  grid-template-columns:150px 1fr 250px;
  grid-template-rows: 1fr 10fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gridLlarg {
  display: grid;
  grid-template-columns:150px 1fr 150px;
  grid-template-rows: 1fr 50fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gridMitja {
  display: grid;
  grid-template-columns:150px 1fr 150px;
  grid-template-rows: 1fr 30fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.body {
  grid-area: 2 / 2 / 3 / 3;
}

.aside_esquerra {
  grid-area: 2 / 1 / 3 / 2;
}

.footer {
  grid-area: 3 / 1 / 4 / 4;
}

.aside_dreta {
  grid-area: 2 / 3 / 3 / 4;
}

@font-face{
  font-family: "DragonHunter";
  src: url("/recursos/fonts/DragonHunter-9Ynxj.otf")
  format("truetype");
}

@font-face{
  font-family: "lletreFuturista";
  src: url("/recursos/fonts/Orbitron-VariableFont_wght.ttf")
  format("truetype");
}

.countdown-timer {
  animation: fadeIn 2s ease-in-out;
  align-items: center;
  background-color:var(--verdEsmeralda30);
  border-radius: 0px;
  font-size: 15px;
  font-weight: 500;
  padding: 8px;
  text-align: left;
  text-transform: uppercase;
}

.countdown-timer .countainer-ul {
  display: flex;
  justify-content: space-evenly;
}

.countdown-timer-ul {
  border-radius: 25px;
  color: #000;
  margin: auto auto 15px auto;
  position: relative;
  text-align: center;
  transition: opacity 0.7s ease-in-out;
  position: relative;
  width: 40%;
}

.countdown-timer-ul .deadline-label {
  color: var(--verdeMentaClaro);
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
}

.countdown-timer .date-item {
  background-color: #fafafa52;
  border-radius: 5px;
  color: var(--verdeMentaClaro);
  text-align: center;
  font-size: 1.2rem;
  width: 88px;
  list-style-type: none;
}

.countdown-timer ul {
  margin-bottom: 20px;
  padding: 0px;
}

.countdown-timer ul li span {
  display: block;
  font-size: 3rem;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.audio-controls {
  text-align: center;
}

audio {
  width: 80%;
}

.buttonMute {
  margin: 3%;
  padding: 7px;
  font-size: 16px;
  background-color: var(--rosaChilero);
}

input[type="range"] {
  width: 80%;
}

.capsa_link{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

.link_capsa{
  border: 3px solid var(--verdeMentaClaro);
  border-radius: 3cap;
  margin: 5px;
  text-align: center;
  background-color: var(--rosaChilero);
}

.link{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 70px;
  padding-right: 70px;
  color: var(--verdeMentaClaro);
  font-size: 20px;
  cursor: pointer;
}

.enmig{
  display: flex;
  justify-content: center;
}

#carrusel{
  border: 5px solid var(--verdMesOscur);
  width: 100%;
}

.conteCarrusel{
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.itemCarrusel{
  height: 100%;
  position: relative;
  width: 100%;
}

.tarjetaCarrusel{
  height: 100%;
  width: 100%;
}

.fletchesCarrusel{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2%;
  right: 2%;
  height: 100%;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fletchesCarrusel > a{
  font-size: 2em;
}

.itemCarrouselArrows > i:hover {
  cursor: pointer;
}

.fletchesCarrusel > a{
  text-decoration: none;
  scroll-behavior:auto;
}

.conteCarruselController{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.conteCarruselController > a{
  padding: 5px;
  text-decoration: none;
}

.tarjetaCarrusel > img {
  width: 100%;
  height: 100%;
}

.npcs-container{
  display: flex;
  margin-top: 30px;
  background-color: var(--verdEsmeralda);
  justify-self: center;
  width: 78vw;
  border-radius: 10px;
}

@keyframes slide {
  from{
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slider-wrapper{
  box-sizing: border-box;
  display: inline-flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
  width:inherit;
  border: solid var(--verdMesOscur) 5px;
  border-radius: 10px;
}

.slider-wrapper:hover .card-list{
  animation-play-state: paused;
}

.card-item:hover{
  transform: scale(1.03);
}

.title{
  color: var(--verdeMentaClaro);
  justify-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 50px;
  margin-top: 55px ;
}

.subtitle{
  color: var(--verdeMentaClaro);
  justify-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 40px;
  margin-top: 55px ;
}

.card-list{
  margin: 0;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  animation: 25s slide infinite linear;
}

.card-list .card-item{
  color: var(--verdeMentaClaro);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background: var(--verdMesOscur);
  text-decoration: none;
}

.card-list .card-item .character-image{
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.card-list .card-item .character-name{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin: 10px;
}

.card-list .card-item .character-type{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.15rem;
  margin: 14px 0;
}

.lore-container{
  margin-bottom: 5rem;
  border: var(--verdMesOscur) solid 5px;
  border-radius: 15px;
}

.lore-container .lore-box{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 30px;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 1.5;
  background-color: var(--verdMesOscur);
  color: var(--verdeMentaClaro);
  border: var(--verdEsmeralda) solid 15px;
  border-radius: 10px;
}

.npcs-info{
  display: flex;
  flex-direction: column;
}

.npcs-info .npc-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.npcs-info .npc-box .npc-photo{
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 50%;
  align-items: center;
}

.npcs-info .npc-box .npc-text{
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 2;
  padding-left: 15px;
  margin: 30px;
  background-color: var(--verdMesOscur);
  color: var(--verdeMentaClaro);
  border: var(--verdEsmeralda) solid 15px;
  border-radius: 10px;
}

.npcs-info .npc-box .npc-photo img{
  justify-self: center;
  width: 30rem;
  height: 30rem;
  margin: 40px;
  padding: 30px;
  background-color: var(--verdMesOscur);
  border-radius: 30px;
}

.comodi{
  margin-top: 5rem;
}

#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: var(--verdPiOscuro);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: var(--blancClar);
}

.requisits-container{
  margin-top: 7rem;
  margin-bottom: 5rem;
  border: var(--verdMesOscur) solid 5px;
  border-radius: 15px;
}

.requisits-container .requisits-box{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 80px;
  padding-left: 130px;
  line-height: 1.5;
  background-color: var(--verdMesOscur);
  color: var(--verdeMentaClaro);
  border: var(--verdEsmeralda) solid 15px;
  border-radius: 10px;
}

.requisits-container .requisits-box li{
  width: 100%;
  padding: 30px;
}

.foto_propaganda{
  margin: 50px;
  height: 150px;
  width: 110px;
  border: #000,2px,solid;
  background-image: url(/recursos/imatges/mestre.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.blog-container{
  margin-top: 7rem;
  margin-bottom: 5rem;
  
}

.blog-container .blog-box{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding: 10px;
  padding-left: 40px;
  line-height: 1.5;
  background-color: var(--verdEsmeralda);
  color: var(--verdMesOscur);
  border: var(--verdMesOscur) solid 10px;
  border-radius: 15px;
  height: 250px;
  overflow-y: scroll;
}

* ::-webkit-scrollbar {
  width: 12px;
}

* ::-webkit-scrollbar-track {
  background: transparent;
}

* ::-webkit-scrollbar-thumb {
  background-color: var(--lila);
  border-radius: 15px;
  border: 2px solid var(--lila);
}
