:root {
    --blancClar:  #ebebeb;
    --gris: #a0a0a0;    
    --negrot: #141414;

    --cacaClara: #f0e68c;
    --or: #ffd700;
    --taronjaOscur: #ff8c00;

    --rosaClar: #f2a0e1;
    --rosaFucsia: #f93bd2;
    -lila: #8402a5;

    --turquesa: #24ffda;
    --verdeMentaClaro: #bbf7e4;
    --verdEsmeralda: #12b481;
    --verdPiOscuro: #0b6347;
    --verdMesOscur: #07231b;
}

header{
    color: var(--verdeMentaClaro);
    width: 100%;
    background-color: pink;
}

.header {
    grid-area: 1 / 1 / 2 / 6;
    width: 100%;
    background-color: var(--verdEsmeralda);
    display: flex;
}

body {
    background-color: var(--verdPiOscuro);
    width: 100%;
    height: 100%;
    margin: 0%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr) 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.body {
    grid-area: 2 / 2 / 5 / 4;
    padding-top: 50px;
}

.aside_esquerra {
    grid-area: 2 / 1 / 5 / 2;
}

.aside_dreta {
    grid-area: 2 / 4 / 5 / 5;
}

.footer {
    grid-area: 5 / 1 / 6 / 5;
}

#micontador {
    display: flex;
    justify-content: center;
    align-items: center;
}


#micontador .num {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0 8px;
}


#micontador .num .dig {
    overflow: hidden;
    padding: 10px;
}


#micontador .num .dig span {
    font-family: "Arial Black";
    font-size: 4rem;
    font-weight: 800px;
    position: relative;
}


#micontador .label {
    text-align: center;
    border-top: 1px solid black;
}

@font-face{
    font-family: "DragonHunter";
    src: url("/recursos/fonts/DragonHunter-9Ynxj.otf")
    format("truetype");
}

@font-face{
    font-family: "lletreFuturista";
    src: url("/recursos/fonts/Orbitron-VariableFont_wght.ttf")
    format("truetype");
}

h1{
    font-family: "DragonHunter";
}

h2{
    background-color: yellow;
    font-family: "lletreFuturista";
    color: var(--rosaFucsia);
}